<h1>List</h1>

<%= render partial: 'stakeholders/shared/view_toggle' %>

<%= form_with model: @search, url: list_path, scope: :search, method: :patch,
  data: {
    turbo_frame:  :results,
    controller: 'auto-submit clear-form',
    action: "input->auto-submit#submit"
  } do |f| %>

  <%= render partial: 'stakeholders/shared/search_bar', locals: { f: f } %>

  <%= turbo_frame_tag 'results' do %>
    <div style="display: flex;" >
      <%= render partial: 'results', locals: { stakeholders: @stakeholders } %>
      <%= render partial: 'stakeholders/shared/filters', locals: { f: f } %>
    </div>
  <% end %>

<% end %>
